<div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{ title }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span
            #closeModalRef
            (click)="(showModal)"
            id="closeModalButton"
            aria-hidden="true"
            >&times;</span
          >
        </button>
      </div>
      <div [formGroup]="validatingForm" class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input
            type="text"
            id="form34"
            class="form-control"
            mdbInput
            [formControl]="contactFormModalName"
          />
          <label for="form34">Name</label>
          <mdb-error
            *ngIf="
              contactFormModalName.invalid &&
              (contactFormModalName.dirty || contactFormModalName.touched)
            "
            >Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              contactFormModalName.valid &&
              (contactFormModalName.dirty || contactFormModalName.touched)
            "
            >Input valid
          </mdb-success>
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input
            type="email"
            id="form29"
            class="form-control"
            mdbInput
            [formControl]="contactFormModalEmail"
          />
          <label for="form29">Email Address</label>
          <mdb-error
            *ngIf="
              contactFormModalEmail.invalid &&
              (contactFormModalEmail.dirty || contactFormModalEmail.touched)
            "
          >
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              contactFormModalEmail.valid &&
              (contactFormModalEmail.dirty || contactFormModalEmail.touched)
            "
            >Input valid
          </mdb-success>
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
          <input
            type="text"
            id="form32"
            class="form-control"
            mdbInput
            [formControl]="contactFormModalOccupation"
          />
          <label for="form32">Occupation</label>
          <mdb-error
            *ngIf="
              contactFormModalOccupation?.invalid &&
              (contactFormModalOccupation.dirty ||
                contactFormModalOccupation.touched)
            "
          >
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              contactFormModalOccupation?.valid &&
              (contactFormModalOccupation?.dirty ||
                contactFormModalOccupation?.touched)
            "
          >
            Input valid
          </mdb-success>
        </div>

        <div class="md-form">
          <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
          <input
            type="text"
            id="form29"
            class="form-control"
            mdbInput
            [formControl]="contactFormModalPhone"
          />
          <label for="form8">Phone</label>
          <mdb-error
            *ngIf="
              contactFormModalPhone?.invalid &&
              (contactFormModalPhone?.dirty || contactFormModalPhone?.touched)
            "
          >
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              contactFormModalPhone?.valid &&
              (contactFormModalPhone?.dirty || contactFormModalPhone?.touched)
            "
          >
            Input valid
          </mdb-success>
        </div>
        <div class="md-form">
          <mdb-icon fas icon="folder" class="prefix grey-text"></mdb-icon>
          <input
            type="text"
            id="form29"
            class="form-control"
            mdbInput
            [formControl]="contactFormModalImageUrl"
          />
          <label for="form8">Image URL</label>
          <mdb-error
            *ngIf="
              contactFormModalImageUrl?.invalid &&
              (contactFormModalImageUrl?.dirty ||
                contactFormModalImageUrl?.touched)
            "
          >
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="
              contactFormModalImageUrl?.valid &&
              (contactFormModalImageUrl?.dirty ||
                contactFormModalImageUrl?.touched)
            "
          >
            Input valid
          </mdb-success>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          (click)="submitForm(validatingForm)"
          mdbBtn
          color="unique"
          class="waves-light"
          mdbWavesEffect
        >
          Send
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</div>
